.json-structure {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  padding: 1rem;
  width: 50%;
  box-sizing: border-box;

  .json-structure__content {
    background: #fafdff;
    border-radius: 0.5rem;
    border: solid 2px #cacaca;
    padding: 0.5rem;
  }
  .json-structure__button {
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
